*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 400px;
    height: 300px;
    margin: 150px 100px 0px 500px ;
    /* background-color: yellow; */
}

.container:hover{
    box-shadow: ;
}

.sub{
    margin-left: 90px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
}

#msover{
    margin-left: 50px;
}
